<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAl.Properties.Settings.Billiard_Management_SystemConnectionString"
            connectionString="Data Source=(local);Initial Catalog=&quot;Billiard Management System&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAl.Properties.Settings.BilliardManagementConnectionString"
            connectionString="Data Source=(local);Initial Catalog=BilliardManagement;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>